<div class="container">
    <div class="row">
        @if (filterleftNavs == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul class="breadcrumb wizard">
                @foreach (var leftNav in filterleftNavs)
                {
                    <li class="@((leftNav.BreadcrumbclassName=="completed" ? "completed" : ""))"><a href="@leftNav.href" @onclick="@((e) => ToggleNavMenu(@leftNav.menuName))">@leftNav.menuName</a></li>
                }

            </ul>
        }
    </div>
</div>

@code {
    private string selectedNavText;
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string selectedLeftNav { get; set; }
    [Parameter]
    public List<LeftNavMenu> filterleftNavs { get; set; }

    private void ToggleNavMenu(string leftMenuText)
    {
        
        foreach (var leftNav in filterleftNavs)
        {
            if (leftMenuText == leftNav.menuName)
            {
                leftNav.BreadcrumbclassName = "completed";
            }
            else
            {
                leftNav.BreadcrumbclassName = "";
            }
        }
    }
}
