@page "/broadcast"
@using Microsoft.Extensions.Logging
@inject ILogger<Broadcast> Logger
@inject NavigationManager NavigationManager
 
@using System.IO
<ConnonMesage SuccessMsg="@message" MsgType="@messageType"></ConnonMesage>

<EditForm Model="@broadcast" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-sm-2"><div class="card-header">Details</div></div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    Date
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <InputDate @bind-Value="broadcast.details.BroadcastDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    Urgent
                </div>
                <div class="col-sm-3">
                    <div class="form-group">

                        <InputCheckbox @bind-Value="broadcast.details.Urgent" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"> <label for="exampleFormControlInput1">Delivery Option</label></div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <InputSelect @bind-Value="broadcast.details.DeliveryOption" class="form-control">
                            <option value="">-Select-</option>
                            <option value="AirTel">AirTel</option>
                            <option value="AT&T">AT&T</option>
                            <option value="Lyca">LaycaMobile</option>
                        </InputSelect>
                    </div>
                </div>
                <div class="col-sm-3">  <label for="exampleFormControlInput1">Broadcast Reason</label></div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <InputSelect @bind-Value="broadcast.details.BroadcastReason" class="form-control">
                            <option value="">-Select-</option>
                            <option value="AirTel">AirTel</option>
                            <option value="AT&T">AT&T</option>
                            <option value="Lyca">LaycaMobile</option>
                        </InputSelect>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><div class="card-header">Message</div></div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <label for="exampleFormControlTextarea1">Link</label>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">

                            <InputTextArea Id="MsgDesc" Class="form-control" @bind-Value="@broadcast.Link"></InputTextArea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        You have 100 charchters remaining.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><div class="card-header">Address request</div></div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <label for="exampleFormControlTextarea1">Upload File -</label>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <InputFile OnChange="OnInputFileChange" multiple />
                            @*<InputFile Id="upload" Class="form-control" @bind-Value="@broadcast.Link" ValueChange="OnChange"></InputFile>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @*<button type="submit">Upload Selected File(s)</button>*@
                        <button type="button" @onclick="OnLoad">Upload File</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>
@code{
    private string currentUrl;
    private Models.Broadcast broadcast = new();
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;
    string message = "Broadcast page loaded!";
    string messageType = "info";
    protected override void OnInitialized()
    {

        broadcast.details = new Details();
        broadcast.details.Urgent = true;
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async void OnLoad()
    {
        foreach (var file in selectedFiles)
        {
            Stream stream = file.OpenReadStream();
            var path = $"D:\\TopGearChallenge\\.Net\\UKLinkServices\\UKLinkServices\\wwwroot\\{file.Name}";
            FileStream fs = File.Create(path);
            await stream.CopyToAsync(fs);
            stream.Close();
            fs.Close();
        }
        Message = $"{selectedFiles.Count} file(s) uploaded on server";
        this.StateHasChanged();
    }

    private void HandleValidSubmit()
    {
        try
        {
            Logger.LogInformation("HandleValidSubmit called");
            message = "Successfully created dmsp details.";
            messageType = "success";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            message = ex.ToString();
            messageType = "error";
        }
    }

    protected void HandleInvalidSubmit()
    {
        messageType = "validation";
        message = DateTime.Now + " Handle invalid submit";
    }
}