@page "/dmsp"
@using Microsoft.Extensions.Logging
@inject ILogger<DMSP> Logger
@inject NavigationManager NavigationManager
<ConnonMesage SuccessMsg="@message" MsgType="@messageType"></ConnonMesage>
 
<div class="card">
    <div class="card-body">
        <h5 class="card-title">DMSP</h5>
        <EditForm Model="@dmsp" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
             
            <div class="form-group">
                <label for="exampleFormControlInput1">Dmsp Type</label>
                <InputSelect @bind-Value="dmsp.DmspType" class="form-control">
                    <option value="">Select classification ...</option>
                    <option value="AirTel">AirTel</option>
                    <option value="AT&T">AT&T</option>
                    <option value="Lyca">LaycaMobile</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Dmsp Description</label>
                <InputTextArea Id="body" Class="form-control" @bind-Value="@dmsp.DmspkDesc"></InputTextArea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </EditForm>

    </div>
</div>
@code{
    private string currentUrl;
    private Models.Dmsp dmsp = new();
    string message = "Dmsp page loaded!";
    string messageType = "info";
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.Uri;
    }
    private void HandleValidSubmit()
    {
        try
        {
            Logger.LogInformation("HandleValidSubmit called");
            message = "Successfully created dmsp details.";
            messageType = "success";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            message = ex.ToString();
            messageType = "error";
        }
    }

    protected void HandleInvalidSubmit()
    {
        messageType = "validation";
        message = DateTime.Now + " Handle invalid submit";
    }
}